<!-- sucesso.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recusado</title>
</head>
<body>
    <h1>Os termos de uso foram recusados.</h1>
    <p>O acesso ao sistema não foi liberado. Contate-nos via email@email.com se deseja aceitar os termos de uso</p>
    <li><a href="{% url 'home' %}">Login</a></li>
    <!-- Você pode adicionar mais informações ou redirecionar o usuário para outra página aqui -->
</body>
</html>