body {
    font-family: Arial, sans-serif;
    display: flex;
}

nav {
    width: 250px;
    height: 620px;
    background-color: #154BA8;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Empilha os botões verticalmente */
}

nav button {
    background-color: #093985;
    border: 1px;
    border-radius: 6px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px; /* Espaçamento entre os botões */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: #1957B9; 
}

main {
    flex: 1; /* Ocupa todo o espaço restante */
    padding: 0px;
    margin-left: 20px; /* Largura do painel lateral */
}

main h1 {
    color: #002D74
}

main p{
    color: #002D74
}